<!-- update this


#ac 

https://github.com/jordanhudgens/devcamp-portfolio/blob/c1695642345d5c4fd7d36eef05681c5b91106c6e/app/views/portfolios/show.html.erb

 -->


<h1>Show</h1>

<%= image_tag @portfolio_item.main_image %>

<h1><%= @portfolio_item.title %> </h1>
<em> <%= @portfolio_item.subtitle %> </em>
<p> <%= @portfolio_item.body %></p>

<h2>  Technologies used</h2>

<% @portfolio_item.technologies.each do |t| %>

<p> <%= t.name %> </p>

<% end %>

<hr>

<%= params.inspect %>

<!-- #ac params is the intermediary step that the controller uses between the view and the model
 -->

<hr>
<!-- 
 params.inspect

 -->

 <hr>

<%#= session.inspect %>


